VITE_FIREBASE_API_KEY="AIzaSyASqexrlbi_w9sfc13zZTO6u3kQ2Rn_0tM"
VITE_FIREBASE_AUTH_DOMAIN="homeworkoutapp-c93ec.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="homeworkoutapp-c93ec"
VITE_FIREBASE_STORAGE_BUCKET="homeworkoutapp-c93ec.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="880949138248"
VITE_FIREBASE_APP_ID="1:880949138248:web:aa6227affc207a966c597d"
